.header {
  margin: 40px 0;
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  position: relative;
  font-size: 14px;
  margin-right: 35px;
}

.nav__item--selected .nav__link {
  color: var(--main-color-primary);
}

.nav__item--selected::after {
  content: "";
  display: block;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: linear-gradient(to top right, #6362d7, #ab77dc 60%, #ff8fe2);
}

.header__search {
  position: relative;
  display: flex;
  width: 270px;
  margin-right: 35px;
}

.header__search__image {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.header__input {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  height: 42px;
  padding: 13px 15px;
  padding-right: 54px;
  width: 100%;
  border: 1px solid #c6baf8;
  border-radius: 5px;
}

.header__input::placeholder {
  color: var(--main-color-gray-1);
}
