.c-clients {
  position: relative;

  text-align: center;

  margin-bottom: 110px;
}

.c-clients__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  z-index: -1;
}

.c-clients__header {
  margin-bottom: 45px;
}

.c-clients__avatar {
  margin-bottom: 23px;
}

.c-clients__text {
  font-size: 24px;
  color: #333333;

  margin-bottom: 33px;
}

.c-clients__about {
  margin-bottom: 35px;
}

.c-clients__about__name {
  font-size: 16px;
  font-weight: 500;
}

.c-clients__about__company {
  font-size: 14px;
}

.c-clients__arrow-left {
  margin-right: 30px;
}
